.navbar {
  background-color: #083d77;
}
.navbar-brand {
  padding-left: 20px;
  color: white !important;
}
.nav-link {
  &.home {
    color: white;
  }
}
.form-control {
  background-color: #eeeeee;
}
.icon-search {
  position: absolute;
  margin-left: 11rem;
  color: gray;
}
.form-inline{
  padding-right: 20px;
}
