.navbar {
  background-color: #083d77;
}
.navbar-brand {
  color: #eeeeee !important;
}
.nav-link {
  color: #eeeeee;
}
.form-control {
  background-color: #eeeeee;
}
.icon-search {
  position: absolute;
  margin-left: 11rem;
  color: gray;
}
